

@font-face {
  font-display: swap;
  font-family: 'Oranda';
  font-style: normal;
  /* font-weight: $font-weight-bold; */
  src:
  local(Oranda BT Bold),
  url('https://componenten.nijmegen.nl/v6.4.0/oranda_bold_bt.04c85cb2.woff2') format('woff2'),
  url('https://componenten.nijmegen.nl/v6.4.0/oranda_bold_bt.8e266873.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Oranda';
  font-style: normal;
  /* font-weight: $font-weight-normal; */
  src:
  local(Oranda BT Roman),
  url('https://componenten.nijmegen.nl/v6.4.0/oranda_bt.bde3d05f.woff2') format('woff2'),
  url('https://componenten.nijmegen.nl/v6.4.0/oranda_bt.05235f9a.woff') format('woff');
}


/* This cannot be manged by tokens.. */
.openforms-subtitle {
  font-family: Oranda,sans-serif !important;
  font-feature-settings: liga;
  text-rendering: optimizeLegibility;
  color: #a80a2d;
  font-size: 32px;
}

/* Our buttons are uppercase so transform all button text */
.utrecht-button {
  text-transform: uppercase;
}

.utrecht-page-header {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}

/* Make sure that in the big view:
 *   - the process indicator is rounded
 *   - the content does not overlap the shadow 
 */
@media (min-width: 767px) {
  .utrecht-page-header {
    margin-bottom: 10px;
  }
  .openforms-progress-indicator {
    border-radius: 0.5rem;
  }
}

/* Hovering links that are not part of the formio interface results in a blue highlight. This prevents that */
.openforms-formio-content a:hover {
  color: #157c68;
}

.utrecht-button--secondary-action {
  border: 2px solid !important; /* I cannot do this with the design tokens... */
}


/*
 * Yivi login hack for BSN (DigiD OIDC)
 */
 .openforms-login-button > .utrecht-button-link[href*="digid_oidc"]::after {
  content: 'Inloggen met Yivi als persoon';
  text-indent: 0;
  display: block;
  line-height: initial;
}
.openforms-login-button > .utrecht-button-link[href*="digid_oidc"] {
  text-indent: -9999px !important;
  line-height: 0 !important;
}
.openforms-login-button > .utrecht-button-link[href*="digid_oidc"] + .openforms-login-button-logo > img {
  content:url("https://mijn.nijmegen.nl/static/images/yivi.svg");
  height: 46px;
  width: 46px;
}

/*
 * Yivi login hack for KVK (eHerkenning OIDC)
 */
.openforms-login-button > .utrecht-button-link[href*="eherkenning_oidc"]::after {
  content: 'Inloggen met Yivi als ondernemer';
  text-indent: 0;
  display: block;
  line-height: initial;
}
.openforms-login-button > .utrecht-button-link[href*="eherkenning_oidc"] {
  text-indent: -9999px !important;
  line-height: 0 !important;
}
.openforms-login-button > .utrecht-button-link[href*="eherkenning_oidc"] + .openforms-login-button-logo > img {
  content:url("https://mijn.nijmegen.nl/static/images/yivi.svg");
  height: 46px;
  width: 46px;
}